@model FoodOrdering.Web.Models.OrderTable

@{
    ViewData["Title"] = "Customer Ordered Details ";
}
<div class="p-3 mb-2 bg-info text-white">
<center><h1>@ViewData["Title"]</h1></center>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodTable.FoodName)
        </dd>
    </dl>
</div>
</div>
<div>
    
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
